<h2 mat-dialog-title>Add new month summary</h2>
<mat-dialog-content>
  <form [formGroup]="form">
    <mat-expansion-panel expanded="true">
      <mat-expansion-panel-header>
        <mat-panel-title> Settings </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-form-field>
        <mat-label>Year</mat-label>
        <input matInput type="number" formControlName="year" [tabIndex]="1" />
        @if (form.get('year')?.hasError('required')) {
          <mat-error>
            Year is required
          </mat-error>
        }
        @if (
          form.get('year')?.hasError('min') ||
          form.get('year')?.hasError('max')
          ) {
          <mat-error
            >
            Year must be between 1900 and 2100
          </mat-error>
        }
      </mat-form-field>

      <mat-form-field>
        <mat-label>Month</mat-label>
        <input matInput type="number" formControlName="month" [tabIndex]="2" />
        @if (form.get('month')?.hasError('required')) {
          <mat-error>
            Month is required
          </mat-error>
        }
        @if (
          form.get('month')?.hasError('min') ||
          form.get('month')?.hasError('max')
          ) {
          <mat-error
            >
            Month must be between 1 and 12
          </mat-error>
        }
      </mat-form-field>
    </mat-expansion-panel>

    <mat-expansion-panel expanded="true">
      <mat-expansion-panel-header>
        <mat-panel-title> Incomes </mat-panel-title>
      </mat-expansion-panel-header>
      <ng-container formArrayName="incomes">
        @for (income of incomes.controls; track income; let i = $index) {
          <form [formGroupName]="i">
            <mat-form-field>
              <mat-label>Value</mat-label>
              <input
                matInput
                placeholder="Enter income"
                formControlName="value"
                [tabIndex]="getTabIndex(i, 1, 1)" />
                @if (form.get('value')?.hasError('required')) {
                  <mat-error>
                    Value is required
                  </mat-error>
                }
              </mat-form-field>
              <mat-form-field>
                <mat-label>Income Type</mat-label>
                <mat-select
                  name="type"
                  formControlName="type"
                  [tabIndex]="getTabIndex(i, 1, 2)">
                  @for (incomeType of incomeTypes; track incomeType) {
                    <mat-option
                      [value]="incomeType">
                      {{ incomeTypeDisplay[incomeType] }}
                    </mat-option>
                  }
                </mat-select>
                @if (form.get('type')?.hasError('required')) {
                  <mat-error>
                    Income type is required
                  </mat-error>
                }
              </mat-form-field>
              <mat-form-field>
                <mat-label>Date</mat-label>
                <input
                  matInput
                  [matDatepicker]="datePicker"
                  formControlName="date" />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="datePicker"
                  [tabIndex]="getTabIndex(i, 1, 3)"></mat-datepicker-toggle>
                  <mat-datepicker #datePicker></mat-datepicker>
                  @if (form.get('date')?.hasError('required')) {
                    <mat-error>
                      Date is required
                    </mat-error>
                  }
                </mat-form-field>
                <button
                  mat-icon-button
                  (click)="addIncome()"
                  [tabIndex]="getTabIndex(i, 1, 4)">
                  <mat-icon>add</mat-icon>
                </button>
                @if (incomes.length > 1) {
                  <button
                    mat-icon-button
                    (click)="deleteIncome(i)"
                    [tabIndex]="getTabIndex(i, 1, 5)">
                    <mat-icon>remove</mat-icon>
                  </button>
                }
              </form>
            }
          </ng-container>
        </mat-expansion-panel>

        <mat-expansion-panel expanded="true">
          <mat-expansion-panel-header>
            <mat-panel-title> Costs </mat-panel-title>
          </mat-expansion-panel-header>
          <ng-container formArrayName="costs">
            @for (cost of costs.controls; track cost; let i = $index) {
              <form [formGroupName]="i">
                <mat-form-field>
                  <mat-label>Value</mat-label>
                  <input
                    matInput
                    placeholder="Enter cost"
                    formControlName="value"
                    [tabIndex]="getTabIndex(i, 2, 1)" />
                    @if (form.get('value')?.hasError('required')) {
                      <mat-error>
                        Value is required
                      </mat-error>
                    }
                  </mat-form-field>
                  <mat-form-field>
                    <mat-label>Cost Type</mat-label>
                    <mat-select
                      name="type"
                      formControlName="type"
                      [tabIndex]="getTabIndex(i, 2, 2)">
                      @for (costType of costTypes; track costType) {
                        <mat-option
                          [value]="costType">
                          {{ costTypeDisplay[costType] }}
                        </mat-option>
                      }
                    </mat-select>
                    @if (form.get('type')?.hasError('required')) {
                      <mat-error>
                        Cost type is required
                      </mat-error>
                    }
                  </mat-form-field>
                  <mat-form-field>
                    <mat-label>Date</mat-label>
                    <input
                      matInput
                      [matDatepicker]="datePicker"
                      formControlName="date" />
                      <mat-datepicker-toggle
                        matSuffix
                        [for]="datePicker"
                      [tabIndex]="getTabIndex(i, 2, 3)"></mat-datepicker-toggle>
                      <mat-datepicker #datePicker></mat-datepicker>
                      @if (form.get('date')?.hasError('required')) {
                        <mat-error>
                          Date is required
                        </mat-error>
                      }
                    </mat-form-field>
                    <button
                      mat-icon-button
                      (click)="addCost()"
                      [tabIndex]="getTabIndex(i, 2, 4)">
                      <mat-icon>add</mat-icon>
                    </button>
                    @if (costs.length > 1) {
                      <button
                        mat-icon-button
                        (click)="deleteCost(i)"
                        [tabIndex]="getTabIndex(i, 2, 5)">
                        <mat-icon>remove</mat-icon>
                      </button>
                    }
                  </form>
                }
              </ng-container>
            </mat-expansion-panel>
          </form>
        </mat-dialog-content>

        <mat-dialog-actions align="end">
          <button mat-button [mat-dialog-close]="false">Close</button>
          <button mat-raised-button [disabled]="form.invalid" (click)="submit()">
            Submit
          </button>
        </mat-dialog-actions>
