@import '../../../scss/main.scss';

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 5rem;
}

.title {
    font-size: 6rem;
    font-weight: 600;
    letter-spacing: 0.5rem;
    background-image: linear-gradient(
        to left,
        $primary,
        $accent,
        $primary);
        background-size: 200% auto;
    background-clip: text;
    color: transparent;

    animation: moveInLeft 1s ease-out 0.25s forwards, gradient-animation 7s linear infinite;
    opacity: 0;
    text-transform: uppercase;
    text-align: center;

    @include respond-to('phone') {
        font-size: 4rem;
    }
}

.tech-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.tech-card {
  background: rgba($accent, 0.6);
  border-radius: 2rem;
  box-shadow: 0 4px 8px rgba($accent, 0.9);
  padding: 1rem;
  max-width: 30%;
  min-width: 150px;
  word-wrap: break-word;
  justify-content: center;
  align-items: center;
  margin: 1rem;

    @include respond-to('phone') {
        max-width: 80%;
    }
}

.tech-card-content {
    margin-top: 1rem;
    text-align: center;
}