@import '../../../scss/main.scss';

:host {
    height: 100%;
    display: block;
    margin-top: 6rem;

    @include respond-to('phone') {
        margin-top: 8rem;
    }
}

.header {
    flex: 0 0 auto;
    text-align: center;
    padding-bottom: 3rem;

    @include respond-to('phone') {
        padding-bottom: 1rem;
    }
}

.title {
    font-size: 6rem;
    font-weight: 600;
    letter-spacing: 0.5rem;
    background-image: linear-gradient(
        to left,
        $primary,
        $accent,
        $primary);
        background-size: 200% auto;
    background-clip: text;
    color: transparent;

    animation: moveInLeft 1s ease-out 0.25s forwards, gradient-animation 7s linear infinite;
    opacity: 0;
    text-transform: uppercase;
    text-align: center;

    @include respond-to('phone') {
        font-size: 4rem;
    }
}

.tech-cards {
  flex: 1 1 0;
  min-height: 0;
  overflow-y: auto;
  padding: 3rem 10rem;
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  align-items: center;
  justify-content: space-evenly;

  @include respond-to('tablet') {
        padding: 3rem;
        gap: 2rem;
    }

    @include respond-to('phone') {
        padding: 2rem;
    }
}

.tech-card {
  background: rgba($accent, 0.15);
  border-radius: 2rem;
  box-shadow: 0 4px 8px rgba($accent, 0.6);
  padding: 1rem;
  max-width: 30%;
  min-width: 150px;
  word-wrap: break-word;
  justify-content: center;
  align-items: center;
  margin: 1rem;

    @include respond-to('phone') {
        max-width: 80%;
    }
}

.tech-card-content {
    margin-top: 1rem;
    text-align: center;
}