<div class="container" [class.is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="toolbar">
    <ng-container *ngFor="let navigationLink of mainNavigationLinks; index as i">
      <button mat-button (click)="changeMainLink(i)"><span class="navigation-name">{{navigationLink.name}}</span></button>
    </ng-container>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0" [hasBackdrop]="true">

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>