@import '../../../../scss/main.scss';

.container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 1rem;
    border-radius: 1rem;
    overflow: hidden;
    margin-top: 6rem;
}

.selectedNavigation {
  padding-bottom: 0.2rem;
  background: linear-gradient(to left, $primary, $accent, $primary) left bottom no-repeat;
  background-size: 100% 0.2rem;
}

.is-mobile .toolbar {
  position: fixed;
  z-index: 2;
}

.toolbar {
  background: transparent;
}

.sidenav-container {
  flex: 1;
  background: transparent;
}

.is-mobile .sidenav-container {
  flex: 1 0 auto;
}

.mat-icon {
color: $text-color;
}