<div class="container" [class.is-mobile]="mobileQuery.matches">
  <mat-toolbar class="toolbar">
    @for (navigationLink of mainNavigationLinks; track navigationLink; let i = $index) {
      <button mat-button (click)="changeMainLink(i)">
        <span
          class="navigation-name"
          [ngClass]="{ selectedNavigation: currentMainLinkId == i }"
          >{{ navigationLink.name }}</span
          >
        </button>
      }
    </mat-toolbar>

    <mat-sidenav-container
      class="sidenav-container"
      [style.marginTop.px]="mobileQuery.matches ? 56 : 0"
      [hasBackdrop]="true">
      <mat-sidenav-content>
        <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
