@import '../../../../../scss/main.scss';

:host {
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 8px;
}

.dataPicker {
    width: 250px;
}

.plots {
   display: contents;
}