@import '../../../../../scss/main.scss';

:host {
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 8px;
}

.dataPicker {
    width: 250px;
}

.plots {
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;

    @include respond-to('phone'){
        grid-template-columns: 1fr;
    }
}

.plot {
    width: 90%;
    justify-items: center;
}