<!-- <div @openClose class="header">
    <div class="text-box">
        <span class="title">Luka Space</span>
        <span class="sub-title">Let's make it work together</span>
    </div>
</div> -->
<div class="introduction">
    <div class="introduction-text">
        <p class="hi">Hi, I'm</p>
        <h2 class="name">Lukas Cwajna</h2>
        <p class="role">Full Stack Developer</p>
        
        <div class="actions">
            <button mat-raised-button color="accent" (click)="downloadResume()"><mat-icon class="material-symbols-outlined icon1">download</mat-icon> Download Resume</button>
            <button mat-raised-button color="primary" routerLink="/contact">Contact Me</button>
        </div>
    </div>
    <!-- <div class="icons">
        <a href="https://github.com/LukaSpace" target="_blank" rel="noopener noreferrer">
            <img src="../../../assets/icons/github.svg" alt="GitHub" class="icon1">
        </a>
        <a href="https://www.linkedin.com/in/%C5%82ukasz-cwajna-7a5567180/" target="_blank" rel="noopener noreferrer">
            <img src="../../../assets/icons/linkedin.svg" alt="LinkedIn" class="icon1">
        </a>
        <a href="mailto:lukaspace.contact@gmail.com" target="_blank" rel="noopener noreferrer">
            <mat-icon class="material-symbols-outlined icon1">mail</mat-icon>
        </a>
    </div> -->

    <div class="sphere-container">
    <div class="sphere">
        <div 
            *ngFor="let point of points" 
            #iconElement 
            class="icon">
            <img 
                [src]="'https://cdn.simpleicons.org/' + point.tech" 
                [alt]="point.tech">
            </div>
        </div>
    </div>
</div>