<!-- <div @openClose class="header">
    <div class="text-box">
        <span class="title">Luka Space</span>
        <span class="sub-title">Let's make it work together</span>
    </div>
</div> -->
<div class="introduction">
    <div class="introduction-text">
        <p class="hi">Hi, I'm</p>
        <h2 class="name">Lukasz C</h2>
        <p class="role">Full Stack Developer</p>
        <p class="about-me">
            Welcome to Luka Space! I’m Lukasz, a Full-Stack .NET Developer with strong experience in C#, REST APIs, Angular, and WPF, delivering production-ready applications across web and desktop platforms. I’ve worked on complex systems including enterprise WPF applications (.NET 10, MVVM), cloud-hosted Angular + API solutions on Azure, database optimization, and system migrations from legacy .NET to modern architectures. Comfortable owning backend logic while contributing to frontend and integrations, I thrive in SCRUM teams using Azure DevOps, focusing on building scalable, reliable, and business-driven solutions.
        </p>
    </div>
    <mat-card class="tech-container">
        <mat-card-title>My technologies:</mat-card-title>
        <div class="tech-cards">
            <mat-card *ngFor="let tech of technologies" class="tech-card">
                <mat-card-title><mat-icon [fontIcon]="tech.icon">{{ tech.icon }}</mat-icon> {{ tech.name }}</mat-card-title>
                <mat-card-content class="tech-card-content">{{ tech.description }}</mat-card-content>
            </mat-card>
        </div>
    </mat-card>
</div>