<div class="introduction-text">
  <p class="hi">Hi, I'm</p>
  <h2 class="name">Lucas Cwajna</h2>
  <div class="typing-container">
    <span>{{ displayText }}</span>
    <span class="cursor">&nbsp;</span>
  </div>
  <div class="actions">
    <button mat-raised-button (click)="downloadResume()">
      <mat-icon class="material-symbols-outlined">download</mat-icon>Resume
    </button>
    <button mat-raised-button routerLink="/contact">Contact Me</button>
  </div>
</div>

<div #sphereContainer class="sphere-container">
  <div
    class="sphere"
    (mousemove)="onMouseMoveInside($event)"
    (mouseenter)="onMouseEnter($event)"
    (mouseleave)="onMouseLeave()">
    @for (icon of icons; track icon; let i = $index) {
      <div
        #iconElement
        class="icon"
        >
        <img [src]="'https://cdn.simpleicons.org/' + icon" [alt]="icon" routerLink="/technologies" />
      </div>
    }
  </div>
</div>