@import '../scss/main.scss';

.container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.navigations {
  display: flex;
  flex-direction: row;

  @include respond-to('phone') {
    flex-direction: column;
    justify-items: center;
    align-items: center;
    row-gap: 2rem;
    padding: 2rem;
  }
}

.selectedNavigation {
  padding-bottom: 0.2rem;
  background: linear-gradient(to left, $primary, $accent, $primary) left bottom no-repeat;
  background-size: 100% 0.2rem;
}

.sub-links-container {
  width: 5rem;
}

.main-content {
  display: flex;
  flex-direction: column;
}

.toolbar {
  position: fixed;
  z-index: 3;
  background: transparent;
  padding: 0 3vw;
  height: 6rem;
  background: transparent;

  @include respond-to('phone') {
    background: #000000;
  }
}

.sidenav-container {
  flex: 1;
  background-color: transparent !important;

  @include respond-to('tablet') {
    flex: 1 0 auto;
  }
} 

mat-sidenav {
  background: radial-gradient(circle at 0% 100%, $primary 10%, #000000 70%);
}

.mat-icon {
  color: $text-color;
}

.spacer {
  flex: 1 1 auto;
}

.name-shortcut {
  font-size: 1.5rem;
  font-weight: 600;
  color: $white;
  background: linear-gradient(135deg, $primary, $accent);
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  animation: rotate-shadow 5s linear infinite;
  margin: 1rem;
  cursor: pointer;
}

.footer-toolbar {
  width: 100%;
  height: 6rem;
  justify-content: center;
  box-shadow: none;
  background: transparent;
}

.links {
    display: flex;
    align-items: center;
    gap: 2rem;

    a {
      height: 3rem;
    }
}

.invert-color {
  filter: invert(1);
}

.footer-text {
  color: $text-color;

  @include respond-to('phone') {
    font-size: 1.5rem;
  }
}

.star-wrapper {
  position: absolute;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  transition: transform 0.2s ease-out;
}

.star {
  background: #fff;
  border-radius: 50%;
  opacity: 0.6;
  box-shadow: 0 0 5px white;
  animation: fall linear infinite, shine ease-in-out infinite;
}

.star.exploding {
  animation: burst 0.5s ease-out forwards !important;
  background: #fff;
  z-index: 10;
}

