@import '../scss/main.scss';

.container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.selectedNavigation {
  color: $accent;
  border-bottom: 0.25rem solid $accent;
}

.sub-links-container {
  width: 5rem;
}

.is-mobile .toolbar {
  position: fixed;
  z-index: 2;
}

.toolbar {
  background: $background;
}

.sidenav-container {
  flex: 1;

  @include respond-to('tablet') {
    flex: 1 0 auto;
  }
} 

.is-mobile .sidenav-container {
  flex: 1 0 auto;
}

.mat-icon {
  color: $text-color;
}

.spacer {
  flex: 1 1 auto;
}

.name-shortcut {
  font-size: 1.5rem;
  font-weight: 600;
  color: $white;
  background: linear-gradient(135deg, $primary, $accent);
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  animation: rotate-shadow 5s linear infinite;
  margin: 1rem;
}

.footer-toolbar {
  width: 100%;
  justify-content: center;
  box-shadow: none;
  background: $background;
}

.footer-text {
  color: $text-color;

  @include respond-to('phone') {
    font-size: 1.5rem;
  }
}