@import '../../scss/main.scss';

::ng-deep .mat-mdc-dialog-container {
  --mat-dialog-container-color: rgba(128, 128, 128, 0.4);
  --mat-dialog-container-shape: 2rem;
  backdrop-filter: blur(5px);
}

.confirm-dialog {
  min-width: 240px;
  display: flex;
  flex-direction: column;
  padding: 2rem;

  .message {
    text-align: center;
    color: $white;
    padding: 1rem 0 2rem 0;
  }

  .actions {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
  }
}
