@import '../../../scss/colors.scss';

.header {
    background-image: linear-gradient(
        to bottom,
        $primary,
        transparent);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 5rem;
}

.title {
    display: flex;
    font-size: 6vw;
    font-weight: 500;
    letter-spacing: 2.5vw;
    text-shadow: 3px 3px 9px rgb(156, 149, 149);
    color: white;
    text-transform: uppercase;

    animation: moveInLeft 1s ease-out 0.25s forwards;
    opacity: 0;
}