@import '../../../scss/main.scss';

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 5rem;
}

.title {
    font-size: 6rem;
    font-weight: 600;
    letter-spacing: 0.5rem;
    background-image: linear-gradient(
        to left,
        $primary,
        $accent,
        $primary);
        background-size: 200% auto;
    background-clip: text;
    color: transparent;

    animation: moveInLeft 1s ease-out 0.25s forwards, gradient-animation 7s linear infinite;
    opacity: 0;
    text-transform: uppercase;

    @include respond-to('phone') {
        font-size: 4rem;
    }
}
.contact-form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
    gap: 1rem;

    @include respond-to('phone') {
        width: 90%;
    }
}

.full-width {
    width: 100%;
}

.message-field textarea {
    height: 30rem;
}

.send-button {
    margin-left: auto;
    padding: 0.5rem;
    width: 7rem;
    border-radius: 0.5rem;
}