<div class="header">
    <span class="title">Contact</span>
</div>
<span class="subtitle">I'd love to hear from you! <br>
    Please fill out the form below to get in touch.</span>
<form [formGroup]="contactForm" #contactFormDirective="ngForm" (ngSubmit)="onSubmit()" class="contact-form">
    <mat-form-field appearance="fill" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" required email>
        <mat-error *ngIf="contactForm.get('email')?.hasError('required')">
            Email is required
        </mat-error>
        <mat-error *ngIf="contactForm.get('email')?.hasError('email')">
            Please enter a valid email address
        </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill" class="full-width">
        <mat-label>Subject</mat-label>
        <input matInput formControlName="subject" required>
        <mat-error *ngIf="contactForm.get('subject')?.hasError('required')">
            Subject is required
        </mat-error>
        <mat-error *ngIf="contactForm.get('subject')?.hasError('maxlength')">
            Subject cannot exceed 100 characters
        </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill" class="full-width message-field">
        <mat-label>Message (max 500 characters)</mat-label>
        <textarea matInput formControlName="message" required></textarea>
        <mat-error *ngIf="contactForm.get('message')?.hasError('required')">
            Message is required
        </mat-error>
        <mat-error *ngIf="contactForm.get('message')?.hasError('maxlength')">
            Message cannot exceed 500 characters
        </mat-error>
    </mat-form-field>
    <button mat-raised-button type="submit" [disabled]="contactForm.invalid" class="send-button">Send</button>
</form>