@import '../../../../../scss/main.scss';

:host {
    height: 100%;
}

.actions {
    height: 50px;
    display: flex;
    align-items: center;
    padding: 2px;
}

.table-container {
    height: calc(100% - 110px);
    overflow: auto;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: rgba($accent, 0.2);
}
.example-element-row td {
  border-bottom-width: 0;
}

.paginator {
    height: 60px;
}

.example-element-detail {
  display: grid;
  grid-template-columns: repeat(2, 200px);
  gap: 1rem;

  .detail-section {
    display: flex;
    flex-direction: column;

    h2 {
      text-align: center;
      font-size: 2rem;
    }
  }
}