<div class="actions">
    <button mat-raised-button (click)="addNewMonthSummary()">Add</button>
</div>
<div class="table-container">
  <table mat-table matSort multiTemplateDataRows [dataSource]="dataSource">

    <ng-container matColumnDef="year">
      <th mat-header-cell *matHeaderCellDef> Year </th>
      <td mat-cell *matCellDef="let element"> {{ element.year }} </td>
    </ng-container>

    <ng-container matColumnDef="month">
      <th mat-header-cell *matHeaderCellDef> Month </th>
      <td mat-cell *matCellDef="let element"> {{ monthArr[element.month] | date: 'MMMM' }} </td>
    </ng-container>
  
    <ng-container matColumnDef="income">
      <th mat-header-cell *matHeaderCellDef> Income </th>
      <td mat-cell *matCellDef="let element">  {{ getSumOf(element.incomes) }} </td>
    </ng-container>
  
    <ng-container matColumnDef="outcome">
      <th mat-header-cell *matHeaderCellDef> Outcome </th>
      <td mat-cell *matCellDef="let element"> {{ getSumOf(element.costs) }} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let element"> 
        <button mat-icon-button (click)="deleteMonthSummary(element.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
        <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
          <div class="detail-section">
            <h4>Incomes</h4>
            <table>
              <tr>
                <th>Type</th>
                <th>Amount</th>
              </tr>
              <tr *ngFor="let incomeType of incomeTypeDisplayKeys">
                <td>{{ incomeTypeDisplay[incomeType] }}</td>
                <td>{{ element.incomes | getIncomeByType:incomeType }}</td>
              </tr>
            </table>
          </div>
          <div class="detail-section">
            <h4>Costs</h4>
            <table>
              <tr>
                <th>Type</th>
                <th>Amount</th>
              </tr>
              <tr *ngFor="let costType of costTypeDisplayKeys">
                <td>{{ costTypeDisplay[costType] }}</td>
                <td>{{ element.costs | getCostByType:costType }}</td>
              </tr>
            </table>
          </div>
        </div>
      </td>
    </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
  <tr mat-row *matRowDef="let element; columns: displayedColumns;"
      class="example-element-row"
      [class.example-expanded-row]="expandedElement === element"
      (click)="adjustExpandedElement(element)">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
  </table>
</div>
<div class="paginator">
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="25" aria-label="Select page"></mat-paginator>
</div>
