@import './scss/main.scss';

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html, body {
  min-height: 100vh;
  min-height: -moz-available;
  min-height: -webkit-fill-available;
  min-height: fill-available;
}

html {
  font-size: 62.5%;
  --sb-track-color: $background;
  --sb-thumb-color: $accent;
  --sb-size: 1rem;
  --sb-border-radius: 1rem;
}

html::before {
  content: '';
  position: fixed;
  inset: 0;
  z-index: -1;
  background: radial-gradient(circle at 100% 100%, $primary 10%, #000000 70%);
  background-size: cover;
  background-repeat: no-repeat;
  pointer-events: none;

  @include respond-to('phone') {
    background: radial-gradient(circle at 0% 100%, $primary 10%, #000000 70%);
  }
}

body { 
  font-family: Raleway, Arial;
  font-size: 2rem;
  margin: 0;
  color: transparent;
  display: block;
}

::-webkit-scrollbar {
  width: var(--sb-size);
}
::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: var(--sb-border-radius);
}
::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: var(--sb-border-radius);
}

@supports not selector(::-webkit-scrollbar) {
  html {
      scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}

// head::before, head::after,
// body::before, body::after {
//   position: fixed;
//   top: 50%;
//   left: 50%;
//   width: 5em;
//   height: 5em;
//   content: '.';
//   color: transparent;
//   mix-blend-mode: screen;
//   animation: 35s -17s moveRotate infinite ease-in-out alternate;
//   z-index: -1;

//   @include respond-to('tablet') { width: 3em; height: 3em; }
// }

// body::before { @include dots(70); animation-duration: 35s; animation-delay: -17s; }
// body::after { @include dots(70); animation-duration: 33s; animation-delay: -22s; }
// head::before { @include dots(70); animation-duration: 31s; animation-delay: -13s; }
// head::after { @include dots(70); animation-duration: 29s; animation-delay: -12s; }