@import './scss/main.scss';

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body { 
  font-family: Roboto, Arial;
  font-size: 2rem;
  margin: 0;
  height: 100%;
  background: $background;
}