@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translate(-10rem);
    }

    80% {
        transform: translate(1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translate(10rem);
    }

    80% {
        transform: translate(-1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes gradient-animation {
    to {
        background-position: 200% center;
      }
}

@keyframes rotate-shadow {
  0% {
    box-shadow: rgba($accent, 0.6) 5px 2px 5px;
  }
  25% {
    box-shadow: rgba($accent, 0.6) -5px 2px 5px;
  }
  50% {
    box-shadow: rgba($accent, 0.6) -5px -2px 5px;
  }
  75% {
    box-shadow: rgba($accent, 0.6) 5px -2px 5px;
  }
  100% {
    box-shadow: rgba($accent, 0.6) 5px 2px 5px;
  }
}