@use '@angular/material' as mat;

@import 'custom-theme';

$color-config: mat.get-color-config($darkTheme);

$primary-palette: map-get($color-config, 'primary');
$accent-palette: map-get($color-config, 'accent');

$primary: mat.get-color-from-palette($primary-palette, 800);
$accent: mat.get-color-from-palette($accent-palette, 200);
$white: white;
$text-color: var(--mat-app-text-color);
$background: var(--mat-sidenav-content-background-color);