@use '@angular/material' as mat;

@import 'custom-theme';

$color-config: mat.m2-get-color-config($darkTheme);

$primary-palette: map-get($color-config, 'primary');
$accent-palette: map-get($color-config, 'accent');

$primary: mat.m2-get-color-from-palette($primary-palette, 500);
$accent: mat.m2-get-color-from-palette($accent-palette, 900);
$white: white;
$text-color: var(--mat-app-text-color);
$background: #000000;
