@use '@angular/material' as mat;
@include mat.core();

// Fonts
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import 'https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined';
@import 'https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap';

// Themes
$theme: mat.define-light-theme((
  color: (
    primary: mat.define-palette(mat.$blue-gray-palette, 800),
    accent: mat.define-palette(mat.$blue-gray-palette, 200),
  ),
));

//default - TODO support theme switching
$darkTheme: mat.define-dark-theme((
  color: (
    primary: mat.define-palette(mat.$indigo-palette, 900),
    accent: mat.define-palette(mat.$pink-palette, A400),
  ),
  typography: mat.define-typography-config(),
  density: 0,
));

@include mat.core-theme($darkTheme);
@include mat.button-theme($darkTheme);

:root[theme='light'] {
@include mat.all-component-themes($theme);
}

:root[theme='dark'] {
  @include mat.all-component-themes($darkTheme);
}