@use '@angular/material' as mat;
@include mat.core();

// Fonts
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import 'https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined';
@import 'https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap';

// Themes
$theme: mat.define-light-theme((
  color: (
    primary: mat.define-palette(mat.$blue-grey-palette, 800),
    accent: mat.define-palette(mat.$blue-grey-palette, 300),
  ),
));

$darkTheme: mat.define-dark-theme((
  color: (
    primary: mat.define-palette(mat.$blue-grey-palette, 800),
    accent: mat.define-palette(mat.$blue-grey-palette, 300),
  ),
  typography: mat.define-typography-config(),
  density: 0,
));

@include mat.core-theme($darkTheme);
@include mat.button-theme($darkTheme);

:root[theme='light'] {
@include mat.all-component-themes($theme);
}

:root[theme='dark'] {
  @include mat.all-component-themes($darkTheme);
}