$breakpoints: (
  'phone':  (max-width: 37.5em), // 600px
  'tablet': (max-width: 62.5em), // 1000px
) !default;

@mixin respond-to($breakpoint) {
  // If the key exists in the map
  @if map-has-key($breakpoints, $breakpoint) {
    // Prints a media query based on the value
    @media #{inspect(map-get($breakpoints, $breakpoint))} {
      @content;
    }
  }
 
  // If the key doesn't exist in the map
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Available breakpoints are: #{map-keys($breakpoints)}.";
  }
}

@mixin dots($count) {
  $text-shadow: ();
  @for $i from 0 through $count {
    $text-shadow: $text-shadow,
                 (-.5+(random()) * 8) + em
                 (-.5+(random()) * 8) + em
                 6px
                 hsla(195, (18 + random() * 4) * 1%, (38 + random() * 37) * 1%, 1)
  }
  text-shadow: $text-shadow;
}