$breakpoints: (
  'phone':  (max-width: 37.5em), // 600px
  'tablet': (max-width: 68.75em), // 1100px
) !default;

@mixin respond-to($breakpoint) {
  // If the key exists in the map
  @if map-has-key($breakpoints, $breakpoint) {
    // Prints a media query based on the value
    @media #{inspect(map-get($breakpoints, $breakpoint))} {
      @content;
    }
  }
 
  // If the key doesn't exist in the map
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Available breakpoints are: #{map-keys($breakpoints)}.";
  }
}

@mixin dots($count, $blur: 4px, $spread: 25) {
  $text-shadow: ();

  @for $i from 0 through $count {
    $x: (-.5 + random()) * $spread + em;
    $y: (-.5 + random()) * $spread + em;
    $text-shadow: $text-shadow,
                 #{$x}
                 #{$y}
                 #{$blur}
                 mix(white, $accent, 20%);
  }

  text-shadow: $text-shadow;
}