@import '../../../scss/main.scss';

.header {
    background-image: linear-gradient(
        to bottom,
        $primary,
        transparent);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 5rem;
}

.title {
    display: flex;
    font-size: 6vw;
    font-weight: 500;
    letter-spacing: 2.5vw;
    text-shadow: 3px 3px 9px rgb(156, 149, 149);
    color: white;
    text-transform: uppercase;

    animation: moveInLeft 1s ease-out 0.25s forwards;
    opacity: 0;
}

.portfolio {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 2rem;
    align-items: center;
    justify-content: center;
    color: white;

    &-card {
        height: 40rem;
        width: 25rem;
        background-color: $primary;
        margin: 3rem;
        border-radius: 1.5rem;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 28px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

        &-title {
            height: 35%;
            filter: drop-shadow(0px 13px 9px rgba($accent, .85));
            position: relative;

            &-img {
                height: 100%;
                border-radius: 1.5rem 1.5rem 0px 0px;
                background-size: cover;
                clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
            }

            &-name {
                position: absolute;
                text-align: right;
                top: 55%;
                right: 5%;

                &-span {
                    font-weight: 400;
                    padding: 0.3rem;
                    border-radius: 0.5rem;
                    background-image: linear-gradient(to right bottom, rgba($primary, .95), rgba($accent, .95) 50%);
                    box-shadow: 3px 4px 3px rgba($accent, .55);
                }
            }
        }

        &-body {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 2.5rem;

            &-content {
                width: 80%;
                text-align: center;
                margin-bottom: 2rem;
                border-bottom: 1px solid $accent;
            }
        }

        &-footer {
            display: flex;
            padding: 3rem;
            width: 100%;
            flex-direction: row-reverse;
        }
    }
}

.budgetApi {
    &-img {
        background-image: linear-gradient(to right bottom, rgba($primary, .2), rgba($accent, .2) 50%), url('../../../assets/backgrounds/portfolio/budget.jpg');
    }
}

.secondApp {
    &-img {
        background-image: linear-gradient(to right bottom, rgba($primary, .2), rgba($accent, .2) 50%), url('https://picsum.photos/id/201/250/120');
    }
}
