<div class="header">
    <span class="title">Portfolio</span>
</div>
<div class="portfolio">
    <div class="portfolio-card budgetApi">
        <div class="portfolio-card-title">
            <div class="portfolio-card-title-img budgetApi-img"></div>
            <h4 class="portfolio-card-title-name"><span class="portfolio-card-title-name-span">Budget API</span></h4>
        </div>
        <div class="portfolio-card-body">
            <span class="portfolio-card-body-content">.NET Core API</span>
            <span class="portfolio-card-body-content">MS SQL Database</span>
            <span class="portfolio-card-body-content">Angular</span>
        </div>
        <div class="portfolio-card-footer">
            <button mat-flat-button routerLink="budget/overview">
                Demo
                <mat-icon class="material-symbols-outlined">arrow_right_alt</mat-icon>
            </button>
        </div>
    </div>
    <div class="portfolio-card secondApp">
        <div class="portfolio-card-title">
            <div class="portfolio-card-title-img secondApp-img"></div>
            <h4 class="portfolio-card-title-name"><span class="portfolio-card-title-name-span">Under construction</span></h4>
        </div>
        <div class="portfolio-card-body">
            <span class="portfolio-card-body-content">TBD</span>
        </div>
        <div class="portfolio-card-footer">
            <button mat-flat-button routerLink="secondApp" disabled="true">
                Demo
                <mat-icon class="material-symbols-outlined">arrow_right_alt</mat-icon>
            </button>
        </div>
    </div>        
</div>