@import '../../../scss/main.scss';

:host {
  flex: 1 1 auto;
  display: block;
  margin-top: 6rem;

  @include respond-to('phone') {
    margin-top: 7rem;
  }
}

h2 {
  text-align: center;
}

.portfolio {
  flex: 1 1 0;
  min-height: 0;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding: 0 1.5rem;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 1.5rem;
  align-items: center;
  justify-content: center;
}

.project-card {
  height: fit-content;
  width: 35rem;
  background-color: rgba($accent, 0.15);
  margin: 2rem;
  border-radius: 2rem;
  box-shadow: 0 4px 8px rgba($accent, 0.6);
  color: $white;
  word-wrap: break-word;
  padding: 2rem;

  mat-card-title {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 2rem;
  }

  mat-card-content {
    text-align: justify;
    text-justify: inter-word;

    .tech-tags {
      padding-top: 4rem;
      padding-bottom: 3rem;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      gap: 1rem;

      .tech-tag {
        background-color: rgba($primary, 0.9);
        box-shadow: 0 2px 4px rgba($accent, 0.6);
        padding: 0.4rem 0.8rem;
        border-radius: 1rem;
        font-size: 1.5rem;
      }
    }
  }

  mat-card-actions {
    gap: 2rem;
    width: 100%;
  }
}
